*::after,
*,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* https://hihayk.github.io/shaper/#system-ui,%20sans-serif/1.25/0.94/3/0.84/1.65/0.5/19/61/66/55/1/2/true */
:root {
  /* Typography */
  --baseTextSize: 1rem;
  --textSizeIncrement: 1.25;

  --text-xxs: calc(var(--baseTextSize) / (var(--textSizeIncrement) * 2));
  --text-xs: calc(var(--baseTextSize) / var(--textSizeIncrement));
  --text-s: var(--baseTextSize);
  --text-m: calc(var(--text-s) * var(--textSizeIncrement));
  --text-l: calc(var(--text-m) * var(--textSizeIncrement));
  --text-xl: calc(var(--text-l) * var(--textSizeIncrement));

  --lineHeightFixedAmount: 0.35rem;
  --lineHeightRelativeAmount: 1.1em;
  --globalLineHeight: calc(var(--lineHeightFixedAmount) + var(--lineHeightRelativeAmount));

  --fontFamily: -apple-system, BlinkMacSystemFont, "effra", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /* Spacing */
  --unit: 0.5rem;
  --spaceIncrement: 1.65;

  --space-s: var(--unit);
  --space-m: calc(var(--space-s) * var(--spaceIncrement));
  --space-l: calc(var(--space-m) * var(--spaceIncrement));
  --space-xl: calc(var(--space-l) * var(--spaceIncrement));
  --space-2xl: calc(var(--space-xl) * var(--spaceIncrement));
  --space-3xl: calc(var(--space-2xl) * var(--spaceIncrement));
  --space-4xl: calc(var(--space-3xl) * var(--spaceIncrement));

  /* Text frame */
  --textFrameRatio: 2;
  --textFrameY: 0.84em;
  --textFrameX: calc(var(--textFrameY) * var(--textFrameRatio));


  --c-primary: #ff2400;
  --c-secondary: #ff7401;

  --c-background: #FFFFFF;
  --c-text-90: #CCC;
  --c-text-80: #999;
  --c-text-70: #666;
  --c-text-60: #111;
  --c-text-0: #000;

  --br: 10px;

  --bi: linear-gradient(to top right, var(--c-primary), var(--c-secondary));


  /* Radius & Fields */
  --radius: 3rem;
  --fieldBorderWidth: 2px;
  --blur: 11px;

  --c-gold: #b28136;
  --c-silver: #eaeaea;
  --c-bronze: #cd7f32;

  /* mobile mockup width */
  --dev-mobile-width: 800px;
}

/* resets */
*,
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.4;
  font-family: 'Montserrat';
}



p {
  margin: 0;
  font-size: var(--baseTextSize);

}

input {
  font-size: var(--text-m);
}

/* defaults */
html,
body {
  font-family: var(--fontFamily);
  font-size: var(--text-m);
  line-height: var(--globalLineHeight);
  color: var(--c-text-color);
  position: relative;
}

a {
  color: var(--c-primary);
}

html,
body {
  height: 100%;
  background-color: var(--c-background);
}


label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: var(--baseTextSize);
}

/* media query for devices with widths less than 500px */
@media (max-width: 500px) {
  :root {
    --baseTextSize: 0.87rem;
  }
}